*.obj
*.tlog
*.pdb
*.ipdb
*.exe
*.ilk
*.lib
*.ps
*.vs
*.log
*.idb
*.res
*.pch
*.xml
*.iobj
*.dll
*.user
*.resources
*.lref
*.cache
*.ipch
*.sdf
*.opensdf
*.exp
*.sxh.h
*.sxh.sxy
*.xcf
*.enc
*.VC.opendb
*.VC.db
*.force
*.tmp
*.lnk
*.jbf
*.aps
*.metagen
*.asm
*.codeanalysis
*.codeanalysisast
*.lastcodeanalysissucceeded
*.sxyz
obj/
bin/
intermediate/
Saved/
DerivedDataCache/
Binaries/
out/
